.benefitsH1{
    background: linear-gradient(165.43deg, rgb(255, 255, 255),rgb(95, 41, 183));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: $nlight;
    font-size: clamp(4rem, 4vw, 10rem);
}
.benefitsH2{
    font-family: $nreg;
    font-size: 2rem;
}
