.h1_slider{
    font-family: $nmed;
    font-size: 2rem;
}
.p_slider{
    font-family: $sflight;
    font-size: 1rem;
}
.card{
    background-color: black;
    border-color: #402e5ccc;
    border-radius: 30px;
    margin-top: 10rem;
    height: 23rem;
}
.card-img-top{
    width: 10rem;
}